<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{component.title}} | IDS Enterprise</title>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link href="/ids-css/ids-reset.min.css" type="text/css" rel="stylesheet"/>
  <link href="/ids-css/ids-css.min.css" type="text/css" rel="stylesheet"/>
  <link href="/css/syntax-highlighting.css" type="text/css" rel="stylesheet"/>
  <link href="/css/docs.css" type="text/css" rel="stylesheet"/>
  <link href="/css/site.css" type="text/css" rel="stylesheet"/>
</head>
<body>
  <header class="site-header ids-container">
    <a class="logo" href="../components">
      <img alt="" src="../images/logo.svg"/>
      <span>IDS Enterprise Components - {{version}}</span>
    </a>
    <br/>
    <br/>
    <a href="../components">Back</a>
  </header>

  <main class="ids-container">
    <h1>{{component.title}}</h1>
    <p>{{component.description}}</p>
    <h2>Embedded Links (iframes on ids)</h2>
    <ul>
      {{#each component.demo.embedded}}
        <li>
          <a href="../components/{{../component.slug}}/{{slug}}">{{name}}</a>
        </li>
      {{/each}}
    </ul>
    <h2>External links</h2>
    <ul>
      {{#each component.demo.pages}}
        <li>
          <a href="../components/{{../component.slug}}/{{slug}}">{{name}}</a>
        </li>
      {{/each}}
    </ul>
    <div>
      {{{component.body}}}
    </div>
    {{#if component.api}}
      <h2>API Details</h2>
      <div>
        {{{component.api}}}
      </div>
    {{/if}}
  </main>
</body>
</html>
