<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <title>{{component.title}} | SoHo XI</title>
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <link href="/ids-css/ids-reset.min.css" type="text/css" rel="stylesheet"/>
  <link href="/ids-css/ids-css.min.css" type="text/css" rel="stylesheet"/>
  <link href="/assets/css/syntax-highlighting.css" type="text/css" rel="stylesheet"/>
  <link href="/assets/css/site.css" type="text/css" rel="stylesheet"/>
</head>
<body>
  <header class="site-header ids-container">
    <a class="logo" href="/sitemap.html">
      <img alt="" src="/assets/logo.svg">
      <span>Soho Jquery Components - <em>Local Static Site: {{version}}</em></span>
    </a>
    <br>
    <br>
    <a href="/sitemap.html">Back</a>
  </header>

  <main class="ids-container">
    <h1>{{component.title}}</h1>
    <p>{{component.description}}</p>
    <ul>
      {{#each component.demo.pages}}
        <li>
          <a href="/components/{{../component.slug}}/{{slug}}.html">{{name}}</a>
        </li>
      {{/each}}
    </ul>
    <div>
      {{{component.body}}}
    </div>
    {{#if component.api}}
      <div>
        {{{component.api}}}
      </div>
    {{/if}}
  </main>
</body>
</html>
